@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

/* *{
    border: red solid 2px;
} */
#content{
    max-width: 2000px;
    margin: 0 auto;
}
p, a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2, h3, h4, h5{
    font-family: "Rock Salt", Roboto, sans-serif, Helvetica;
}
header{
    background-color:#000333;
    display: grid;    
    grid-template-columns: 80px auto;
    align-items: center;
}
header img{
    width: 60px;
}
nav a{
    text-decoration: none;
    padding: 15px 5px;
    color: #fff;
    font-size: 1.8em;
    margin-left: 10%;
    text-align: center;
}
nav a:hover{
    background-color: #0066ff;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.hero-img{
    grid-row: 1/2;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.button-box{
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 60px;
    text-align: center;
    align-self: end;
    z-index: 1;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    border-radius: 25px;
    padding: 20px;
}
.button-box a{
    text-align: center;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 300;
}
.button-box a:hover{
    background-color: #000333;
}
.gallery img{
    width: 25%;
    padding: 20px;
}
.gallery{
    display: flex;
    justify-content: center;
}
.welcome{
    width: 82%;
    margin: 0 auto;
}
.welcome p{
    color: #fff;
    text-align: center;
    justify-self: center;    
    font-size: 1.2em;
    border-radius: 5px;
    padding: 20px;
    line-height: 2em;
    background-color:#414141;
}

footer{
    display: grid;
    grid-template-rows: none;
    grid-template-columns: auto auto auto auto;
    background-color: #000333;
    align-items: center;
    padding: 25px 50px;
    margin-top: 30px; 
    height: fit-content;
}
footer a{
    text-decoration: none;
    text-align: center;
    color: #fff;    
    padding: 15px 5px;
    font-size: 1.3em;
}
footer a:hover{
    background-color: #0066ff;
}
.contact-footer{
    margin-top: 230px;
}
.social{
    /* text-align: right; */
    margin-left: auto;
}
.social img{
    width: 20%;
}
footer p{
    color: #fff;
    text-align: center;
}
/* faq section */
#faq-main p{
    color: #111;
}
.faq-header{
    text-align: center;
    color: black;
}
/* accordion */
.accordion {
    margin: 5px auto;
    background-color: #111;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Rock Salt", Roboto, sans-serif, Helvetica;
    font-size: 1.17em;
    color: #fff;
    font-weight: 300;
}
.active, .accordion:hover {
    background-color: #414141;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #414141;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: fit-content;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
    display: none;
}


/* This is the roadmap */

.rm img{
    width: 85%;
    max-height: 85vh;
    padding: 0;
    margin-left: 8%;
}

.info-rm{
    width: 80%;
    margin: 0 auto;
    line-height: 2.5rem;
    text-align: left;
}
.disclaim p{
    font-size: .9rem;
}

/* This is the contact us  */


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: fit-content;
    /* Form outline */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
    background-color: #0066ff;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-top: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
    background-color: #19381f;
    border-radius: 10px;
    color: #fff;
  }

  .button :hover{
    color: #000;
    background-color: #414141;
  }
    #feedback {
        background-color: antiquewhite;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5em;
        /* make this element invisible until we are ready for it */
        display: none;      
}
.moveDown {
        margin-top: 3em;
    }

@media screen and (max-width: 900px) {

    nav a{
        font-size: 1em;
        padding: 20px 10px;
        margin: 0 auto;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 25px;
        flex-wrap: wrap;
    }
    /* .social{
        margin: 10px auto;
    }
    .cr{
        margin: 10px auto;
    }
    footer p{
        margin: 10px auto;
    } */
}