@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

/* *{
    border: red solid 2px;
} */
#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    padding: 35px;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
}

body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #19381f;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: #67597a;
    color: #fff;
}

.background{
    margin: 10px auto;
    background-color: #bdadea;
    text-align: left;
    width: 75%;
    border-radius: 4px 10px 4px 10px;
}

.background p{
    font-family: "Rock Salt", Roboto, sans-serif, Helvetica;
    padding: 0 10px 10px 10px;
    font-size: .8em;
    color: #19381f;
}

.background h3{
    font-family: "Rock Salt", Roboto, sans-serif, Helvetica;
    padding: 0 10px 0 10px;
    color: #19381f;
}

footer{
    background-color: #67597a;
    padding: 25px 50px;
    margin-top: 20vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
}

footer{
    color: black;
    padding: 25px 50px;
}

footer a{
    color: black;
    margin-top: 200px;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

.logo{
    width: 80px;
}

footer p {
    font-size: 1.2em;
}    
 
footer p a:hover {
    text-decoration: underline;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img{
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }

}