@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

/* *{
    border: red solid 2px;
} */
#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    padding: 35px;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
}

#hero-msg h1, #hero-msg h4{
    font-family: "Rock Salt", Roboto, Helvetica, sans-serif;
    color: #89b6a5;
    text-align: center;
}

#hero-msg h1:hover, #hero-msg h4:hover{
    color: #67597a;

}

#hero-box{ 
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero{ 
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #19381f;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.8;
}

nav a:hover{
    background-color: #67597a;
    color: #fff;
}

.book:hover, .join:hover{
    color: black;
    background-color: #67597a;
}

#background{
    background-color: #67597a;
    grid-column: 1/11;
    grid-row: 4/9;
}

.background{
    margin: 10px auto;
    background-color: #bdadea;
    text-align: left;
    width: 75%;
    border-radius: 4px 10px 4px 10px;
}

.background p{    
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 10px 10px 10px;
    font-size: .8em;
    color: #19381f;
}

.background h3{
    font-family: "Rock Salt", Roboto, sans-serif, Helvetica;
    padding: 0 10px 0 10px;
    color: #19381f;
}
.msg{
    background-color: #bdadea;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

footer{
    background-color: #67597a;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
}

.home-title{
    color: black;
    font-size: 2em;
    font-family: "Rock Salt", Roboto, Helvetica, sans-serif;
    margin-top: 10px;
}

h4{
    color: black;
}

.book, .join{
    background-color: #19381f;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.msg h2{
    color: #19381f;
    font-family: "Rock Salt", Roboto, sans-serif, Helvetica;
}

.msg p{
    color: #19381f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    color: black;
    padding: 25px 50px;
}

footer a{
    color: black;
    margin-top: 200px;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

.logo{
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
} 

footer p {
    font-size: 1.2em;
}    
 
footer p a:hover {
    text-decoration: underline;
}

.msg h2{
    font-family: "Rock Salt", Roboto, sans-serif, Helvetica;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img{
    padding-top: 15px;
}

.card-img{
    border: 10px solid #67597a;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    height: 250px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
    width: 100%;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
    background-color: #bdadea;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
    background-color: #19381f;
    border-radius: 15px;
    color: #fff;
  }

  .button :hover{
    color: #000;
    background-color: #67597a;
  }
    #feedback {
        background-color: antiquewhite;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5em;
        /* make this element invisible until we are ready for it */
        display: none;      
}
.moveDown {
        margin-top: 3em;
    }

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #67597a;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}